# Data Processing Tools

In [10]:
# CORE PKG'S

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [7]:
dt = pd.read_csv('data/Data.csv')
dt

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [20]:
# Separando o dataset em variáveis dependentes e independetes!
# X = Variáveis Independentes
# Y = Variáveis Dependentes (pensar no modelo de regressão linear)

x = dt.iloc[:, :-1].values
y = dt.iloc[:, -1].values

x,y

(array([['France', 44.0, 72000.0],
        ['Spain', 27.0, 48000.0],
        ['Germany', 30.0, 54000.0],
        ['Spain', 38.0, 61000.0],
        ['Germany', 40.0, nan],
        ['France', 35.0, 58000.0],
        ['Spain', nan, 52000.0],
        ['France', 48.0, 79000.0],
        ['Germany', 50.0, 83000.0],
        ['France', 37.0, 67000.0]], dtype=object),
 array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
       dtype=object))

### Cuidando de dados faltantes
Nesse caso em particular estarei usando da biblioteca scikit-learn para popular os dados faltantes com a média geral dos dados. 

Em casos de bancos de dados muito grandes onde a perda sera irrelevante podemos retirar esses dados.

In [23]:
from sklearn.impute import SimpleImputer

imp = SimpleImputer(missing_values=np.nan, strategy='mean') # SipleImputer é como uma classe (OOP)
imp.fit(x[:, 1:3]) # Ajustando a média dos valores faltantes OBVIAMENTE SÓ VAI NUMÉRICO
x[:, 1:3] = imp.transform(x[:, 1:3]) # Transformando os valores faltantes

x

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.77777777778],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)